/*

Date: November 16th, 2021
Author: Cameron Goldberg, Owen Conlon, Aaron Sprague

*/
:root {
	--primary1: #00533E;
	--primary2: #FFC726;
	--secondary1: #789D4A;
	--secondary2: #577935;
	--secondary3: #FFA400;
	--secondary4: #C05100;
	--secondary5: #A72B2A;
	--secondary6: #41B6E6;
	--secondary7: #01426A;
	--tertiary1: #00857D;
	--tertiary2: #DCD59A;
	--tertiary3: #94B7BB;
	--tertiary4: #B2B4B2;
	--tertiary5: #57527E;
    --palette1: #cccccc;
  }

  div.orgChart {
    border                : 1px solid #cccccc;
    background-color      : var(--palette1);
    margin                : 0px;
    padding               : 0px;
    width                 : 100%;
    height                : 100%;
}

div.orgChart h2 {
    margin                : 0px;
    font-size             : 1em;
    border-bottom         : none;
}

div.orgChart ul {
    list-style            : none;
    margin                : 4px;
    padding               : 0px;
    font-size             : 0.8em;
    text-align            : left;
}

div.orgChart ul.stack,
div.orgChart ul.stack ul {
    text-align            : center;
}

div.orgChart table {
    width                 : 100%;
}

div.orgChart tr.lines td.line {
    width                 : 1px;
    height                : 20px;
}

div.orgChart tr.lines td.top {
    border-top            : 3px solid black;
}

div.orgChart tr.lines td.left {
    border-right          : 2px solid black;
}

div.orgChart tr.lines td.right {
    border-left           : 2px solid black;
}

div.orgChart td {
    text-align            : center;
    vertical-align        : top;
    padding               : 0px 2px;
}

div.orgChart div.node {
    cursor                : default;
    border                : 2px solid black;
    display               : inline-block;
    padding               : 0 4px;
    width                 : 120px;
    height                : 60px;
    background-color      : #ffff98;
    line-height           : 1.3em;
    border-radius         : 4px;
    box-shadow            : 4px 4px 6px #888888;
    -moz-border-radius    : 4px;
    -moz-box-shadow       : 4px 4px 6px #888888;
    -webkit-border-radius : 4px;
    -webkit-box-shadow    : 4px 4px 6px #888888;
}

div.orgChart div.hasChildren {
    background-color      : /*#ffff98*/white;
}

div.orgChart.interactive div.hasChildren {
    cursor                : pointer;
}

div.orgChart div.node.hover {
    background-color      : white;
}

div.orgChart div.adjunct.node {
    position              : absolute;
    margin-top            : 8px;
    margin-left           : -110px;
    width                 : 80px;
    height                : 40px;
    background-color      : #efefef;
}

div.orgChart div.adjunct-link {
    display               : inline-block;
    position              : absolute;
    margin-left           : -20px;
    margin-top            : 25px;
    width                 : 20px;
    border                : 1px dashed black;
}
div.orgChart div.node.level1 {
    background-color: var(--primary1);
}
div.orgChart div.node.level1.special {
    background-color: var(--secondary1);
}
div.orgChart div.node.level2 {
    background-color: var(--secondary2);
}
div.orgChart div.node.level3 {
    background-color: var(--secondary3);
}
div.orgChart div.node.level4 {
    background-color: var(--secondary4);
}
div.orgChart div.node.level5 {
    background-color: var(--secondary5);
}
div.orgChart div.node.level6 {
    background-color: var(--secondary6);
}

